In [35]:
#from __future__ import division
import pandas as pd
from datetime import datetime
import matplotlib.pyplot as plt

In [36]:
df=pd.read_csv('./Geolife-beijing_completed.csv')

In [37]:
df.head()

,dev_id,date,lat,lon,geohash,geohash_1,geohash_2,geohash_3,geohash_4,geohash_5,geohash_6
0,0,2008-10-23 02:50:00,39.984561,116.316527,386+302,193+151,129+101,97+76,77+61,39+30,19+15
1,0,2008-10-23 02:55:00,39.984456,116.306047,382+302,191+151,128+101,96+76,77+61,38+30,19+15
2,0,2008-10-23 03:00:00,39.983590,116.298869,379+302,189+151,127+101,95+76,76+61,38+30,19+15
3,0,2008-10-23 03:05:00,39.951650,116.800131,594+284,297+142,198+95,149+71,119+57,59+29,30+14
4,0,2008-10-23 03:10:00,39.951650,116.800131,594+284,297+142,198+95,149+71,119+57,59+29,30+14

In [38]:
df1=df.set_index('dev_id')
list_usr=df1.index
list_usr=list_usr.drop_duplicates()

In [39]:
list_usr_f=[]

# Selecting individuals having at least 8064 records
for i in list_usr:
    if len(df1.loc[i])>=8064:
        list_usr_f.append(i)

In [40]:
list_usr=list_usr_f

In [41]:
len(list_usr)

99

In [42]:
df1=df1[df1.index.isin(list_usr)]

In [43]:
list_usr=df1.index
list_usr=list_usr.drop_duplicates()

In [44]:
len(list_usr)

99

In [45]:
df_final=df1#.reset_index()#drop=True, inplace=True

In [46]:
df_final.head()

,date,lat,lon,geohash,geohash_1,geohash_2,geohash_3,geohash_4,geohash_5,geohash_6
dev_id,,,,,,,,,,
0,2008-10-23 02:50:00,39.984561,116.316527,386+302,193+151,129+101,97+76,77+61,39+30,19+15
0,2008-10-23 02:55:00,39.984456,116.306047,382+302,191+151,128+101,96+76,77+61,38+30,19+15
0,2008-10-23 03:00:00,39.983590,116.298869,379+302,189+151,127+101,95+76,76+61,38+30,19+15
0,2008-10-23 03:05:00,39.951650,116.800131,594+284,297+142,198+95,149+71,119+57,59+29,30+14
0,2008-10-23 03:10:00,39.951650,116.800131,594+284,297+142,198+95,149+71,119+57,59+29,30+14

In [47]:
df_final.to_csv('./Geolife-beijing_filtered.csv')